# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
ENV/
env/

# Output files
output/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
